
@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/reset';


/* Base styles */
html { font-size: $mainFontSize; }
body { background: $mainBackground; color: $mainColor; font-weight: $mainFontWeight; font-size: 1rem; font-family: $mainFontFamily; line-height: $mainLineHeight; overflow: hidden; }

#app { position: relative; width: 100%; min-height: 100vh; display: flex; flex-direction: column; }

h1, h2 { font: normal 30px/1.1 $mainFontFamily; }
h3, h4 { font: normal 24px/1.2 $mainFontFamily; }
h5 { font: normal 18px/1.2 $mainFontFamily; }

p { font: normal 14px/1.2 $mainFontFamily; }
b { font-weight: 600; }
// i { font-style: italic; }

a { color: $linkColor; transition: all .3s ease-out;
  &:active, &:focus { color: $linkColor_hover; }

  svg { transition: fill .3s ease-out; }
}

.container { position: relative; width: 100%; margin: 0 auto; padding: 1.25rem 1rem; background: transparent; display: grid; grid-gap: 2rem 1rem; grid-template-rows: auto; grid-template-columns: repeat(6, 1fr);
  .content { grid-column: 1 / 7; }

  @media screen and (min-width: $mobileWidth) {}
  @media screen and (min-width: $tabletWidth) { width: $tabletWidth; padding: 2rem; grid-gap: 2rem; grid-template-columns: repeat(9, 1fr);
    .content { grid-column: 1 / 10; }
  }
  @media screen and (min-width: $laptopWidth) { width: $laptopWidth; }
  @media screen and (min-width: $desktopWidth) { width: $desktopWidth; grid-template-columns: repeat(12, 1fr);
    .content { grid-column: 1 / 13; }
  }
  @media screen and (min-width: $desktopWidth_md) { width: $desktopWidth_md; }
}

@media screen and (min-width: $laptopWidth) {
  body { scrollbar-width: thin; scrollbar-color: $mainColor $DarkGrey; overflow: visible; }

  ::-webkit-scrollbar { width: 10px; height: 10px; }
  ::-webkit-scrollbar-track { box-shadow: $scrollbarBoxShadow; }
  ::-webkit-scrollbar-thumb { background: $mainColor; outline: none; }
  ::-webkit-scrollbar-corner { background: $mainColor; }
  ::-webkit-resizer { background: $DarkGrey; }

  a:hover { color: $linkColor_hover; }
}
@media screen and (min-width: $desktopWidth) {
  h1 { font-size: 50px; line-height: 1; }
  h2, h3, h5 { font-size: 60px; }
  h4 { font-size: 30px; }

  p { font-size: 18px; }
}


/* Form styles */
.form {
  &__line { display: flex; flex-direction: column;
    &:not(:first-child) { margin-top: 1rem; }
  }
  &__input { width: 100%; height: 46px; border-radius: 23px; padding: 0 1.25rem .25rem; background: $LightGrey; color: $mainColor; font: normal 16px/3 $mainFontFamily;
    &::placeholder { color: $DarkGrey; }
    &:active, &:focus { background: $AccentGrey; }

    // &--success { border-color: $successColor; }
    // &--error { border-color: $errorColor; }
  }
  &__button { margin-top: 1.25rem; }

  @media screen and (min-width: $laptopWidth) {
    &__input:hover { background: $AccentGrey; }
  }
  @media screen and (min-width: $desktopWidth) {
    &__line:not(:first-child) { margin-top: 1.25rem; }
    &__input { height: 52px; border-radius: 26px; padding: 0 1.25rem .3125rem; font-size: 20px; }
  }
}

.button {
  a { width: 100%; height: 38px; border: 2px solid $linkColor; border-radius: 19px; padding: 0 1rem .25rem; background: $linkColor; color: $White; font: normal 16px/1 $mainFontFamily; text-align: center; white-space: nowrap; display: inline-flex; justify-content: center; align-items: center; }

  &--empty a { background: $White; color: $linkColor; }
  &--big a { height: 46px; border-radius: 23px; padding: 0 3rem .3125rem; }
  &--thanks a { height: 46px; border-radius: 23px; padding: 0 4rem .3125rem; }
  &--accent a { border-color: $linkColor_hover; background: $linkColor_hover; }

  @media screen and (min-width: $laptopWidth) {
    a { width: auto;
      &:hover { border-color: $linkColor_hover; background: $linkColor_hover; color: $White; }
    }

    &--empty a:hover,
    &--accent a:hover { border-color: $linkColor; background: $linkColor; color: $White; }
    &--form a { width: 100%; }
  }
  @media screen and (min-width: $desktopWidth) {
    a { font-size: 18px; }

    &--big a,
    &--thanks a { height: 52px; border-radius: 26px; font-size: 20px; }
  }
}


/* Layout styles */
header { position: fixed; left: 0; top: 0; right: 0; height: 70px; background: $mainBackground; transition: all .6s ease-in-out; @include z-index('header');
  &.hidden { transform: translateY(-100%); }

  .container { height: 70px; padding: 0 1rem;
    .header { display: flex; justify-content: space-between; align-items: center;
      &-logo a { display: flex;
        img { width: 141px; height: 43px; flex: none; }
      }
      &-menu,
      &-buttons { display: none; }

      &__group { display: flex; align-items: center; }

      &-phone { margin-right: 1.5rem;
        a { display: flex;
          svg { width: 29px; height: 29px; flex: none; }
        }
      }
      &-menu-bar a { display: flex;
        svg { width: 25px; height: 25px; flex: none; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 0 2rem;
      // .header {}
    }
    @media screen and (min-width: $laptopWidth) {
      .header {
        &-menu-bar { display: none; }
      }
    }
    @media screen and (min-width: $desktopWidth) { height: 80px;
      .header {
        &-logo a { margin-top: .375rem;
          img { width: 144px; height: 44px; }
        }
        &-menu { display: flex;
          ul { display: flex; align-items: center;
            li {
              &:not(:last-child) { margin-right: 2.25rem; }

              a { font-size: 18px; white-space: nowrap; }
            }
          }
        }
        &-buttons { display: flex; align-items: center;
          .button:not(:last-child) { margin-right: 1.375rem; }
        }

        &__group { display: none; }

        &-phone { display: none; }
      }
    }
  }

  @media screen and (min-width: $desktopWidth) { height: 80px; }
}

main { flex-grow: 1; @include z-index('main'); }

footer { @include z-index('footer');
  .container { padding: 1.5rem 1rem;
    .footer {
      &-contacts {
        &__info {
          &:last-child { margin-top: .375rem; }

          p {
            &:first-child { font-size: 30px; }
            &:last-child { margin-top: .25rem; font-size: 14px; }
          }
        }
      }

      &__group { margin-top: .875rem; }

      &-social { margin-bottom: .75rem; display: flex; align-items: center; align-self: flex-start;
        li {
          &:not(:last-child) { margin-right: 1rem; }

          a { display: flex; align-items: center;
            svg { flex: none;
              &.vk { width: 25px; height: 25px; }
              &.ok { width: 26px; height: 25px; }
              &.youtube { width: 31px; height: 21px; }
            }
          }
        }
      }

      &__text p { color: $DarkGrey;
        &:not(:last-child) { margin-bottom: .375rem; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 2.375rem 2rem 5rem;
      // .footer {}
    }
    @media screen and (min-width: $laptopWidth) {
      // .footer {}
    }
    @media screen and (min-width: $desktopWidth) {
      .footer {
        &-contacts { display: flex; justify-content: space-between;
          &__info {
            &:last-child { margin-top: 0; text-align: right; }

            p {
              &:first-child { height: 62px; font-size: 62px; }
              &:last-child { height: 30px; margin-top: 1rem; font-size: 30px; }

              a { white-space: nowrap; display: flex; }
            }
          }
        }

        &__group { margin-top: 1.375rem; display: flex; justify-content: space-between; }

        &-social { margin-bottom: 0;
          li {
            &:not(:last-child) { margin-right: 1.125rem; }

            a svg {
              &.vk { width: 30px; height: 30px; }
              &.ok { width: 31px; height: 30px; }
              &.youtube { width: 36px; height: 25px; }
            }
          }
        }

        &__text { width: 1000px;
          p { color: $mainColor; font-size: 16px; text-align: right;
            &:not(:last-child) { margin-bottom: .375rem; }
          }
        }
      }
    }
  }
}


/* Page styles */
@import 'page/index';
@import 'page/thanks';


/* Module styles */
@import 'module/menu';
@import 'module/up';
