extends include/main

block variables
  - let title = 'Роял Медик'
  - let description = ''
  - let page = 'index'

block content
  section#index
    .container
      .index.content
        .index__main
          .index__group
            .index__image
              picture
                source(srcset='/image/illustration/main.jpg, /image/illustration/main@2x.jpg 2x' media='(min-width: 768px)' type='image/jpeg')
                img(src='/image/illustration/main.m.jpg' srcset='/image/illustration/main.m@2x.jpg 2x' loading='eager' alt='illustration')
            .index__title
              h1
                | Хотите стать здоровым?
                br
                br
                | Тогда пройдите комплексную диагностику организма у&nbsp;ведущих врачей Москвы
          .index-utp#utp
            .index-utp__tag уникальное предложение
            .index-utp__title Комплексная диагностика всего за
            .index-utp__price 2 990 ₽
            .index-utp__group
              .index-utp__old-price 12 500 ₽
              .index-utp__timer 15:00
            .index-utp__text
              p Оставьте номер телефона, и мы запишем вас к&nbsp;нужному специалисту!
            form.form.index-utp-form(name='main-utp-form' autocomplete='off')
              fieldset.form__line
                input.form__input(type='text' name='main-name' required placeholder='введите имя' value='' title='Введите имя')
              fieldset.form__line
                input.form__input(type='tel' name='main-phone' required placeholder='номер телефона' value='' title='Введите номер телефона')
              .form__button
                .button.button--big.button--form
                  a(href='#' data-action='send-form' title='Проверить здоровье') Проверить здоровье
        ul.index-services
          li.index-services__item
            .index-services__count 1
            .index-services__title
              h4 Узи любых органов
            .index-services__more
              a(href='#' data-action='open-tooltip' title='Узнать подробнее') Подробнее
          li.index-services__item
            .index-services__count 2
            .index-services__title
              h4 Оптическая топография позвоночника
          li.index-services__item
            .index-services__count 3
            .index-services__title
              h4 Компьютерная диагностика лица и волос
          li.index-services__item
            .index-services__count 4
            .index-services__title
              h4 Клинический и биохимический анализ крови по 15 показателям
          li.index-services__item
            .index-services__count 5
            .index-services__title
              h4 Консультации узких специалистов
          li.index-services__item
            .index-services__count 6
            .index-services__title
              h4 Индивидуальный план&nbsp;лечения
  section#start
    .container
      .start.content
        .start__title
          h2 Не откладывайте визит&nbsp;к&nbsp;врачу
        .start__text
          p Вы можете не подозревать о наличии у вас опасных заболеваний.
          p Более половины населения обращается к врачам, когда уже болезнь запущена!
        .start-video
          iframe(src='https://www.youtube.com/embed/UaZ4M_ijUfo?si=1dOjtIv3jPfj8yB4?modestbranding=1&rel=0&controls=1&enablejsapi=1' title='Комплексная диагностика организма в клинике превентивной медицины Роял медик' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen)
        .start__button
          .button.button--big
            a(href='#reception' data-action='scroll-to' title='Запланировать визит') Запланировать визит
  section#risk-group
    .container
      .risk-group.content
        .risk-group__title
          h2 Кто находится в особой группе риска?
        ul.risk-group-list
          li.risk-group-list__item
            .risk-group-list__icon
              img(src='/image/icon/city.svg' alt='icon')
            .risk-group-list__text
              p Жители крупных городов, например, Москвы
          li.risk-group-list__item
            .risk-group-list__icon
              img(src='/image/icon/heart.svg' alt='icon')
            .risk-group-list__text
              p Люди с&nbsp;хроническими заболеваниями
          li.risk-group-list__item
            .risk-group-list__icon
              img(src='/image/icon/sedentary-people.svg' alt='icon')
            .risk-group-list__text
              p Люди, ведущие малоподвижный образ жизни
          li.risk-group-list__item
            .risk-group-list__icon
              img(src='/image/icon/fat-people.svg' alt='icon')
            .risk-group-list__text
              p Люди с избыточным весом
          li.risk-group-list__item
            .risk-group-list__icon
              img(src='/image/icon/45+.svg' alt='icon')
            .risk-group-list__text
              p Люди старше 45 лет
  section#case
    .container
      .case.content
        .case__tag
          span известная телеведущая
          img(src='/image/icon/first-channel-russia.svg' alt='icon')
          span Первого канала
        .case__title
          h2 Роза Сябитова поделилась своими впечатлениями о&nbsp;«Роял&nbsp;Медик»
        .case-video
          iframe(src='https://www.youtube.com/embed/JBOpx2ULO_8?si=Od4Ye7W8DM9ejhNH?modestbranding=1&rel=0&controls=1&enablejsapi=1' title='Роза Сябитова в Роял Медик | SMAS-лифтинг на Ultraformer III' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen)
  section#reviews
    .container
      .reviews.content
        .reviews__title
          h2 Истории пациентов, спасенных врачами нашей клиники
        ul.reviews-list.swiper-wrapper
          li.reviews-list__item.swiper-slide
            .reviews-list__video
              iframe(src='https://www.youtube.com/embed/9WxOEsTgK8Y?si=eKd-NAT2s41_oFjt?modestbranding=1&rel=0&controls=1&enablejsapi=1' title='Я в восторге! Отзыв пациентки о клинике Роял медик' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen)
          li.reviews-list__item.swiper-slide
            .reviews-list__video
              iframe(src='https://www.youtube.com/embed/9FHRhlldvsU?si=dsZZnSo__ucZQBek?modestbranding=1&rel=0&controls=1&enablejsapi=1' title='В Роял медик можно обратиться с любой проблемой!' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen)
          li.reviews-list__item.swiper-slide
            .reviews-list__video
              iframe(src='https://www.youtube.com/embed/luBXsKIGL9s?si=PtmAiUf1Jku0USUo?modestbranding=1&rel=0&controls=1&enablejsapi=1' title='Была жуткая боль! По лестнице спускаться и подниматься было невозможно!' frameborder='0' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen)
        .reviews-nav
          .reviews-nav__count 1 — 3
          .reviews-nav__prev
            svg
              use(href='/image/icon/arrow-left.svg#arrow')
          .reviews-nav__next
            svg
              use(href='/image/icon/arrow-right.svg#arrow')
        .reviews__button
          .button.button--big
            a(href='#reception' data-action='scroll-to' title='Хочу быть здоровым') Хочу быть здоровым
  #test
    .container
      .test.content
        .test__image
          img(src='/image/illustration/test.m.jpg' srcset='/image/illustration/test.m@2x.jpg 2x' loading='lazy' alt='illustration')
        .test__group
          .test__title
            h3 Сомневаетесь, нужна ли вам комплексная диагностика организма?
          .test__text
            p Пройдите тест и узнайте, есть ли у вас скрытые болезни, о которых вы не догадываетесь!
          .test__button
            .button.button--big.button--accent
              a(href='#' target='_blank' title='Пройти тест') Пройти тест
  #doctors
    .container
      .doctors.content
        .doctors__text
          p Исследования проводят высококвалифицированные врачи с опытом работы более 10 лет
        ul.doctors-list
          li.doctors-list__item
            .doctors-list__name
  #license
    .container
      .license.content
        .license__title
          h5 Лицензия на осуществление медицинской деятельности
        .license-list
  section#diagnostics
    .container
      .diagnostics.content
        .diagnostics__title
          h2 Комплексная диагностика
        .diagnostics__text
          p Программа комплексной диагностики включает в&nbsp;себя исчерпывающий набор исследований и&nbsp;анализов для проверки здоровья:
        ul.diagnostics-list.swiper-wrapper
          li.diagnostics-list__item.swiper-slide
            .diagnostics-list__image
              img(src='/image/diagnostics/1.jpg' srcset='/image/diagnostics/1@2x.jpg 2x' loading='lazy' alt='illustration')
            .diagnostics-list__group
              .diagnostics-list__count 1
              .diagnostics-list__title
                h4 Оптическая топография позвоночника
              .diagnostics-list__text
                p Современный аппарат позволяет точно и безопасно выявить нарушение осанки, сколиоз, кифосколиоз, перекосы таза и прочие изменения в опорно-двигательном аппарате, которые появляются с возрастом или усугубляются.
                p Вы получите снимки и заключение с прописанным для вас лечением или рекомендации по предотвращению заболеваний.
          li.diagnostics-list__item.swiper-slide
            .diagnostics-list__image
              img(src='/image/diagnostics/2.jpg' srcset='/image/diagnostics/2@2x.jpg 2x' loading='lazy' alt='illustration')
            .diagnostics-list__group
              .diagnostics-list__count 2
              .diagnostics-list__title
                h4 Компьютерная диагностика лица и волос
              .diagnostics-list__text
                p Проводится нашими высококвалифицированными врачами, помогает оценить степень повреждения волос, изучить структуру кожи и состояние дермальных слоев лица.
                p После исследования вы получите заключение о существующих проблемах кожи головы и волос, кожи лица. Также врач даст вам рекомендации, какие процедуры помогут вам избавиться от проблемы облысения, преждевременного старения кожи лица и головы с учетом индивидуальных особенностей вашего организма.
          li.diagnostics-list__item.swiper-slide
            .diagnostics-list__image
              img(src='/image/diagnostics/3.jpg' srcset='/image/diagnostics/3@2x.jpg 2x' loading='lazy' alt='illustration')
            .diagnostics-list__group
              .diagnostics-list__count 3
              .diagnostics-list__title
                h4 2 анализа крови
              .diagnostics-list__text
                p Вам сделают 2 анализа крови:
                ul
                  li Клинический анализ крови с лейкоцитарной формулой
                  li Развернутый биохимический анализ крови (15 показателей):
                ol
                  li Билирубин общий
                  li Аланинамино-трансфераза (АЛТ)
                  li Аспартатамино-трансфераза (АСТ)
                  li Общий белок
                  li Креатинин
                  li Мочевина
                  li Щелочная фосфатаза
                  li Гамма-глутамил-трансфераза (ГГТ)
                  li Альфа-амилаза
                  li Мочевая кислота
                  li Триглицериды
                  li Кальций общий
                  li Глюкоза
                  li Холестерин общий
                  li Железо
          li.diagnostics-list__item.swiper-slide
            .diagnostics-list__image
              img(src='/image/diagnostics/4.jpg' srcset='/image/diagnostics/4@2x.jpg 2x' loading='lazy' alt='illustration')
            .diagnostics-list__group
              .diagnostics-list__count 4
              .diagnostics-list__title
                h4 УЗИ
              .diagnostics-list__text
                p В нашей клинике используются новейшие аппараты для проведения УЗИ-диагностики. Это позволяет нашим врачам оценить все системы и органовы человека и поставить правильный диагноз, а в дальнейшем отслеживать динамику лечения.
          li.diagnostics-list__item.swiper-slide
            .diagnostics-list__image
              img(src='/image/diagnostics/5.jpg' srcset='/image/diagnostics/5@2x.jpg 2x' loading='lazy' alt='illustration')
            .diagnostics-list__group
              .diagnostics-list__count 5
              .diagnostics-list__title
                h4 Консультации
              .diagnostics-list__text
                p Консультации узких специалистов - главный врач, врач ультразвуковой диагностики, врач-хирург, остеопат и др.
          li.diagnostics-list__item.swiper-slide
            .diagnostics-list__image
              img(src='/image/diagnostics/6.jpg' srcset='/image/diagnostics/6@2x.jpg 2x' loading='lazy' alt='illustration')
            .diagnostics-list__group
              .diagnostics-list__count 6
              .diagnostics-list__title
                h4 Комплексное заключение
              .diagnostics-list__text
                p После прохождения всех исследований вы получите комплексное заключение о том, какие заболевания (или риски) есть в вашем организме, а также индивидуальный план лечения.
        .diagnostics-nav
          .diagnostics-nav__count 1 — 6
          .diagnostics-nav__prev
            svg
              use(href='/image/icon/arrow-left.svg#arrow')
          .diagnostics-nav__next
            svg
              use(href='/image/icon/arrow-right.svg#arrow')
  section#help
    .container
      .help.content
        .help__title
          h2 Как мы вам помогаем
        ul.help-list
          li.help-list__item
            .help-list__icon
              img(src='/image/icon/help-1.svg' alt='icon')
            .help-list__text
              p Оставьте заявку на сайте или&nbsp;позвоните нам
          li.help-list__item
            .help-list__icon
              img(src='/image/icon/help-2.svg' alt='icon')
            .help-list__text
              p Специалист свяжется с&nbsp;вами, ответит на все вопросы и, если захотите, назначит удобные вам дату и время визита
          li.help-list__item
            .help-list__icon
              img(src='/image/icon/help-3.svg' alt='icon')
            .help-list__text
              p В назначенный день вам нужно будет пройти все&nbsp;исследования в клинике по&nbsp;адресу:
              p
                a(href='#map' data-action='scroll-to' title='Наш адрес')
                  svg
                    use(href='/image/icon/location.svg#location')
                  span Москва, ул. Забелина, д.&nbsp;3, стр.&nbsp;3 (м.&nbsp;Китай-город)
          li.help-list__item
            .help-list__icon
              img(src='/image/icon/help-4.svg' alt='icon')
            .help-list__text
              p Когда будут готовы результаты исследований, вас&nbsp;проконсультируют узкие специалисты и&nbsp;назначат лечение
          li.help-list__item
            .help-list__icon
              img(src='/image/icon/help-5.svg' alt='icon')
            .help-list__text
              p Вы получите на руки комплексное заключение с&nbsp;планом лечения и&nbsp;рекомендациями
  section#reception
    .container
      .reception.content
        .reception__title
          h2 Запишитесь на&nbsp;комплексную диагностику
        .reception__text
          p Оставьте ваш номер телефона, чтобы мы могли закрепить за вами скидку
        .reception-utp
          .reception-utp__block
            .reception-utp__title Комплексная диагностика всего за
            .reception-utp__main
              .reception-utp__price 2 990 ₽
              .reception-utp__group
                .reception-utp__old-price 12 500 ₽
                .reception-utp__timer 15:00
          form.form.reception-utp-form(name='reception-utp-form' autocomplete='off')
            fieldset.form__line
              input.form__input(type='text' name='name' required placeholder='введите имя' value='' title='Введите имя')
            fieldset.form__line
              input.form__input(type='tel' name='phone' required placeholder='номер телефона' value='' title='Введите номер телефона')
            .form__button
              .button.button--big.button--form
                a(href='#' data-action='send-form' title='Записаться') Записаться за 2 990 р
  section#about
    .container
      .about.content
        .about__video
          video(autoplay loop muted)
            source(src='/video/about.mp4' type='video/mp4')
        .about__main
          .about__title
            h2 О клинике
          .about__text
            p Клиника превентивной медицины «Роял медик» известна собственными инновационными методиками, которые выполняются эксклюзивно только на базе клиники, и своим внимательным подходом к каждому пациенту.
            p Отменное качество и высокая эффективность - вот за что любят нас пациенты. На сегодняшний день клиника насчитывает более 200 различных процедур, поэтому вы с легкостью найдете то, что&nbsp;нужно именно вам.
  #map
    script(type='text/javascript' charset='utf-8' async src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A321063d073380067fbe5a0803f454e85b1f122ad1bd2eea906afd22b2a205afa&amp;lang=ru_RU&amp;scroll=true')
