extends include/main

block variables
  - let title = 'Роял Медик'
  - let description = ''
  - let page = 'thanks'

block content
  section#thanks
    .container
      .thanks.content
        .thanks__title
          h2 Спасибо за заявку!
        .thanks__text
          p Мы свяжемся с вами в&nbsp;ближайшее&nbsp;время
        .thanks__button
          .button.button--thanks
            a(href='/' title='Вернуться на сайт') Вернуться на сайт
