
/* PP Pangram Sans */
@font-face {
  font-family: 'PP Pangram Sans';
  src: local('PPPangramSans-Medium'), local('PP Pangram Sans Medium'),
    url('../font/PPPangramSans/PPPangramSans-Medium.woff2') format('woff2'),
    url('../font/PPPangramSans/PPPangramSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Pangram Sans';
  src: local('PPPangramSans-SemiBold'), local('PP Pangram Sans SemiBold'),
    url('../font/PPPangramSans/PPPangramSans-SemiBold.woff2') format('woff2'),
    url('../font/PPPangramSans/PPPangramSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
