
/* Brand colors */
$Black                     : #373e40;
$DarkGrey                  : #9b9b9b;
$LightGrey                 : #f4f4f4;
$White                     : #ffffff;

$Turquoise                 : #357e8e;
$Red                       : #ff0000;

/* Font options */
$mainFontWeight            : normal;
$mainFontSize              : 16px;
$mainFontFamily            : 'PP Pangram Sans', Arial, sans-serif;
$mainLineHeight            : 1.5;

/* Breakpoints */
$mobileWidth               : 100%;
$tabletWidth               : 768px;
$laptopWidth               : 1024px;
$desktopWidth              : 1280px;
$desktopWidth_md           : 1440px;
$desktopWidth_lg           : 1920px;

/* Primary colors */
$mainColor                 : $Black;
$mainBackground            : $White;
$linkColor                 : $Black;
$linkColor_hover           : $Turquoise;

$successColor              : $Turquoise;
$errorColor                : $Red;

/* Shadows */
$scrollbarBoxShadow        : inset 0 0 1px rgba($Black, .66);

/* Others */
$LineGrey                  : #d6d6d6;
$AccentGrey                : #dedede;
$NavGrey                   : #efefef;
$backgroundVideo           : rgba(#0f243d, .2);
$backgroundMap             : rgba(#0f3d18, .2);
