
#menu { position: absolute; left: 0; top: 69px; right: 0; bottom: 0; width: 100%; height: calc(100vh - 69px); background: $mainBackground; overflow: auto; display: none; @include z-index('menu');

  /* Однопальцевый скролл для iPad */
  -webkit-overflow-scrolling: touch;

  /* Фикс для странностей в iPad */
  > * { -webkit-transform: translateZ(0px); transform: translateZ(0px); }

  &.open { display: block; }

  .container { height: 100%; padding: 1.5rem 1rem; overflow-x: hidden;
    .menu {
      &-menu { border-top: 1px solid $LineGrey; padding-top: 1.625rem;
        ul li {
          &:not(:last-child) { margin-bottom: .375rem; }

          a { font-size: 24px; }
        }
      }

      &__button { margin: 1.875rem 0 2.5rem; }

      &-contacts { border-top: 1px solid $LineGrey; padding-top: 1.875rem;
        &__working { margin-bottom: .125rem; color: $DarkGrey; font-size: 20px; }
        &__phone a { font-size: 40px; }
        &__info { margin-top: .125rem; font-size: 20px; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 1.5rem 2rem; }
  }

  @media screen and (min-width: $laptopWidth) {
    &.open { display: none; }
  }
}
