
#up { display: none;
  @media screen and (min-width: $desktopWidth) { position: fixed; left: 32px; bottom: 32px; display: block; transition: all .6s ease-in-out; @include z-index('up');
    &.hidden { transform: translateY(100px); }

    a { width: 68px; height: 68px; border: 1px solid $mainColor; border-radius: 50%; background: $White; display: flex; justify-content: center; align-items: center;
      &:hover { background: $mainColor;
        svg { fill: $White; }
      }

      svg { width: 18px; height: 26px; flex: none; }
    }
  }
}
