footer
  .container
    .footer.content
      .footer-contacts
        .footer-contacts__info
          p
            a(href='tel:88007072203' title='Позвонить') 8 (800) 707-22-03
          p Звонок бесплатный
        .footer-contacts__info
          p Ежедневно 10:00-21:00
          p Адрес: Москва, ул. Забелина, д.&nbsp;3, стр.&nbsp;3 (м.&nbsp;Китай-город)
      .footer__group
        ul.footer-social
          li
            a(href='//vk.com/' target='_blank' title='ВКонтакте')
              svg.vk
                use(href='/image/icon/vk.svg#vk')
          li
            a(href='//ok.ru/' target='_blank' title='Одноклассники')
              svg.ok
                use(href='/image/icon/ok.svg#ok')
          li
            a(href='//www.youtube.com/' target='_blank' title='YouTube')
              svg.youtube
                use(href='/image/icon/youtube.svg#youtube')
        .footer__text
          p Роял Медик, Центр Аппаратной Косметологии. Лицензия № Л041-01137-77/00320195. Copyright&nbsp;2014-2023 OOO&nbsp;«Люкс&nbsp;Медик»
          p Вся информация представленная на сайте, включая информацию о ценах, наличии услуг и&nbsp;их&nbsp;описание, носит ознакомительный характер и&nbsp;не&nbsp;является публичной офертой, определяемой положениями ст. 437 ГК РФ
