-
  let menu = [
    { url: '#procedure', title: 'О процедуре' },
    { url: '#reviews', title: 'Отзывы' },
    { url: '#doctors', title: 'Врачи' },
    { url: '#license', title: 'Лицензия' },
    { url: '#about', title: 'О клинике' },
    { url: '#map', title: 'Контакты' }
  ]

header
  .container
    .header.content
      .header-logo
        a(href='#app' data-action='scroll-to' title='Роял Медик')
          img(src='/image/logo.svg' alt='Роял Медик')
      nav.header-menu
        ul
          each link in menu
            li
              a(href=link.url data-action='scroll-to' title=link.title) #{ link.title }
      .header-buttons
        .button.button--empty
          a(href='tel:89991234567' title='Позвонить') +7 (999) 123-45-67
        .button
          a(href='#reception' data-action='scroll-to' title='Записаться на прием') Записаться на прием
      .header__group
        .header-phone
          a(href='tel:89991234567' title='Позвонить')
            svg
              use(href='/image/icon/phone.svg#phone')
        .header-menu-bar
          a(href='#' data-action='toggle-menu' title='Открыть меню')
            svg
              use(href='/image/icon/menu.svg#menu')
