-
  let menu = [
    { url: '#procedure', title: 'О процедуре' },
    { url: '#reviews', title: 'Отзывы' },
    { url: '#doctors', title: 'Врачи' },
    { url: '#license', title: 'Лицензия' },
    { url: '#about', title: 'О клинике' },
    { url: '#map', title: 'Контакты' }
  ]

// Menu
#menu
  .container
    .menu.content
      nav.menu-menu
        ul
          each link in menu
            li
              a(href=link.url data-action='scroll-to' title=link.title) #{ link.title }
      .menu__button
        .button.button--big
          a(href='#utp' data-action='scroll-to' title='Записаться на прием') Записаться на прием
      .menu-contacts
        .menu-contacts__working Ежедневно 10:00-21:00
        .menu-contacts__phone
          a(href='tel:88007072203' title='Позвонить') 8 (800) 707-22-03
        .menu-contacts__info Звонок бесплатный
// Menu end
