
/* Index page */
#index { margin-top: 70px;
  .container { padding-top: 0;
    .index {
      &__main { display: flex; flex-direction: column; }
      &__group { position: relative; }
      &__image { display: flex;
        img { width: 100%; }
      }
      &__title { position: absolute; left: 16px; top: 20px; width: 240px;
        h1 { color: $White; }
      }

      &-utp { margin-top: 1.25rem;
        &__tag { border-radius: 16px; margin: .25rem 0; padding: 0 .75rem .5rem; background: $Turquoise; color: $White; font-size: 16px; line-height: 1.2; display: inline-flex; transform: rotate(-2.8deg); }
        &__title { font-size: 30px; line-height: 1.1; }
        &__price { font-size: 70px; line-height: 1.1; }
        &__group { margin-top: .375rem; display: flex; justify-content: space-between; align-items: flex-end; }
        &__old-price { font-size: 36px; line-height: 1.4; text-decoration: line-through; }
        &__timer { width: 120px; height: 44px; border-radius: 22px; padding-bottom: .125rem; background: $mainColor; color: $White; font-size: 30px; line-height: 1.2; text-align: center; }
        &__text { border-top: 1px solid $LineGrey; margin-top: 1rem; padding-top: 1rem; }

        &-form { margin-top: .875rem; }
      }

      &-services { margin-top: 1.875rem; display: flex; flex-direction: column;
        &__item { position: relative; width: 100%; min-height: 90px; padding: 1rem .75rem 1.5rem 1.25rem; background: $LightGrey; @include z-index('services');
          &:not(:first-child) { margin-top: .75rem; }
        }
        &__count { position: absolute; top: 0; right: 20px; color: $AccentGrey; font-size: 70px; line-height: 1.1; z-index: -1; }
        &__more { margin-top: .625rem;
          a { border-bottom: 2px dashed $linkColor; padding-bottom: .25rem; font-size: 14px;
            &:active, &:focus { border-bottom-style: solid; color: $linkColor; }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding-top: .5rem;
      // .index {}
    }
    @media screen and (min-width: $laptopWidth) {
      .index {
        &-services {
          &__more a:hover { border-bottom-style: solid; color: $linkColor; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .index {
        &__main { flex-direction: row; }
        &__image img { width: 1010px; height: 632px; }
        &__title { left: 38px; top: 38px; width: 440px; }

        &-utp { width: 336px; margin: 0 0 0 1.875rem;
          &__tag { padding: 0 1rem .5rem; font-size: 22px; }
          &__title { font-size: 46px; line-height: 1.05; }
          &__price { font-size: 93px; line-height: 1.05; }
          &__old-price { font-size: 38px; }
          &__text { margin-top: 1.0625rem;
            p { font-size: 16px; }
          }

          &-form { margin-top: 1.25rem; }
        }

        &-services { margin-top: 2.375rem; flex-direction: row; flex-wrap: wrap;
          &__item { width: calc((100% - 2.5rem) / 3); min-height: 132px; padding: 1.75rem 1.875rem 2.25rem;
            &:not(:first-child) { margin-top: 0; }
            &:not(:nth-child(3n + 1)) { margin-left: 1.25rem; }
            &:nth-child(n + 4) { margin-top: 1.25rem; }
          }
          &__count { right: 30px; font-size: 100px; }
          &__more { margin-top: .75rem;
            a { padding-bottom: .375rem; font-size: 18px; }
          }
        }
      }
    }
  }

  @media screen and (min-width: $desktopWidth) { margin-top: 80px; }
}

#start {
  .container { padding-bottom: 1.875rem;
    .start {
      &__title { margin-bottom: .75rem;
        h2 { text-align: center; }
      }
      &__text { margin-bottom: 1.5rem;
        p { text-align: center;
          &:not(:last-child) { margin-bottom: .375rem; }
        }
      }

      &-video { display: flex;
        iframe { width: 100%; min-height: 193px; background: $backgroundVideo; flex: none; }
      }

      &__button { margin-top: 1.25rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.75rem 2rem;
      .start {
        &-video { justify-content: center;
          iframe { height: 398px; min-height: auto; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .start {
        &__title { margin-bottom: 1.375rem; }
        &__text { margin-bottom: 3rem;
          p:not(:last-child) { margin-bottom: .5rem; }
        }

        &-video { justify-content: center;
          iframe { width: 960px; height: 508px; }
        }

        &__button { margin-top: 1.875rem; display: flex; justify-content: center; }
      }
    }
  }
}

#risk-group {
  .container { padding: 0 1rem 1.875rem;
    .risk-group { border-top: 1px solid $LineGrey; padding-top: 1.625rem;
      &__title { margin-bottom: 1.25rem;
        h2 { text-align: center; }
      }

      &-list { margin: 0 1.375rem; display: flex; flex-direction: column;
        &__item { width: 100%; display: flex; align-items: center;
          &:not(:last-child) { margin-bottom: 1.25rem; }

          &:nth-child(1) { margin-bottom: .25rem;
            .risk-group-list__icon img { margin-bottom: 1rem; }
          }
          &:nth-child(2) { margin-bottom: .5rem;
            .risk-group-list__icon img { margin-bottom: .75rem; }
          }
        }
        &__icon { display: flex; flex: none;
          img { width: 64px; height: 64px; flex: none; }
        }
        &__text { margin-left: 1rem;
          p { font-weight: 600; font-size: 16px; }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.25rem 2rem 4.25rem;
      .risk-group { border: none; padding-top: 0;
        &-list { margin: 0; flex-direction: row; justify-content: space-between;
          &__item { width: calc((100% - 5rem) / 5); flex-direction: column;
            &:not(:last-child) { margin: 0 1.25rem 0 0; }

            &:nth-child(1) { margin-bottom: 0;
              .risk-group-list__icon img { margin-bottom: 0; }
            }
            &:nth-child(2) { margin-bottom: 0;
              .risk-group-list__icon img { margin-bottom: 0; }
            }
          }
          &__icon img { width: 80px; height: 80px; }
          &__text { margin: 1.5rem 0 0 0;
            p { text-align: center; }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .risk-group {
        &__title { margin-bottom: 2.75rem; }

        &-list { margin: 0 3.5rem;
          &__item { width: calc((100% - 10rem) / 5);
            &:not(:last-child) { margin: 0 2.5rem 0 0; }
          }
          &__icon img { width: 110px; height: 110px; }
          &__text p { font-size: 22px; }
        }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) { border-top: 1px solid $LineGrey; }
}

#case { background: $LightGrey;
  .container { padding: 1.875rem 1rem;
    .case {
      &__tag { border-radius: 12px; margin: .25rem 0 .25rem 1rem; padding: 0 .625rem .3125rem; background: $Turquoise; color: $White; display: inline-flex; align-items: center; transform: rotate(-2.8deg);
        img { width: 18px; height: 18px; margin: .0625rem 0 -.125rem .25rem; flex: none; }
        span { font-size: 12px; line-height: 1.2; white-space: nowrap; }
      }
      &__title { margin-bottom: 1.25rem;
        h2 { text-align: center; }
      }

      &-video { display: flex;
        iframe { width: 100%; min-height: 193px; background: $backgroundVideo; flex: none; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.25rem 2rem 5.25rem;
      .case {
        &__tag { margin: .25rem 0 .25rem 5.5rem; }

        &-video { justify-content: center;
          iframe { height: 398px; min-height: auto; }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .case {
        &__tag { border-radius: 16px; margin: .25rem 0 0 10.5rem; padding: 0 1rem .5rem;
          img { width: 26px; height: 26px; margin: .125rem 0 -.25rem .375rem; }
          span { font-size: 20px; }
        }
        &__title { margin-bottom: 2.75rem; }

        &-video { justify-content: center;
          iframe { width: 960px; height: 508px; }
        }
      }
    }
  }
}

#reviews {
  .container { padding: 1.875rem 1rem 0;
    .reviews {
      &__title { margin-bottom: 1.25rem;
        h2 { text-align: center; }
      }

      &-list {
        &__item { width: 312px; }
        &__video { display: flex;
          iframe { width: 100%; min-height: 175px; background: $backgroundVideo; flex: none; }
        }
      }
      &-nav { margin-top: .625rem; display: flex; justify-content: flex-end; align-items: center;
        &__count { margin: 0 1rem .375rem 0; line-height: 1.2; }
        &__prev,
        &__next { width: 32px; height: 32px; border-radius: 50%; background: $NavGrey; display: flex; justify-content: center; align-items: center; cursor: pointer; transition: all .3s ease-out;
          &:active, &:focus { background: $linkColor;
            svg { fill: $White; }
          }

          svg { width: 15px; height: 9px; transition: fill .3s ease-out; }
        }
        &__prev { margin-right: .375rem; }
      }

      &__button { margin-top: 1rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 5.25rem 2rem 5.25rem;
      .reviews {
        &-list {
          &__video iframe { min-height: 193px; }
        }
      }
    }
    @media screen and (min-width: $laptopWidth) {
      .reviews {
        &-list {
          &__video iframe { min-height: 193px; }
        }
        &-nav {
          &__prev,
          &__next {
            &:hover { background: $linkColor;
              svg { fill: $White; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .reviews {
        &__title { margin: 0 11.5rem 2.75rem; }

        &-list {
          &__item .swiper-slide-active { transition: transform .3s ease;
            .reviews-list__video iframe { height: 287px; min-height: 287px; }
          }
          &__video iframe { min-height: 247px; }
        }
        &-nav { margin-top: 1.25rem;
          &__count { margin: 0 1rem .125rem 0; font-size: 26px; }
          &__prev,
          &__next { width: 56px; height: 56px;
            svg { width: 27px; height: 18px; }
          }
          &__prev { margin-right: .625rem; }
        }

        &__button { margin-top: -2.375rem; display: flex; justify-content: center; }
      }
    }
  }
}

#test {
  .container { padding: 1.875rem 1rem 0;
    .test {
      &__image { display: flex;
        img { width: 100%; flex: none; }
      }
      &__group { padding: 20px; background: $LightGrey; }
      &__title { margin-bottom: .625rem;
        h3 { text-align: center; }
      }
      &__text p { text-align: center; }
      &__button { margin-top: 1.25rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 0 2rem;
      .test {
        &__image { display: none; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .test {
        &__group { padding: 3.125rem 6.25rem; }
        &__title { margin-bottom: 1.25rem; }
        &__text p { font-size: 26px; }
        &__button { margin-top: 2.5rem; display: flex; justify-content: center; }
      }
    }
  }
}

#doctors {
  .container { padding: 1.875rem 1rem 0;
    .doctors {
      &__text { margin-bottom: 3rem;
        p { font-size: 18px; text-align: center; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 5.25rem 2rem 0;
      // .doctors {}
    }
    @media screen and (min-width: $desktopWidth) {
      .doctors {
        &__text { font-size: 30px; }
      }
    }
  }
}

#license {
  .container { padding: 1.875rem 1rem 0;
    .license {
      &__title {
        h5 { text-align: center; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 5.25rem 2rem 0;
      // .license {}
    }
    @media screen and (min-width: $desktopWidth) {
      .license {
        &__title {
          h5 { text-align: left; }
        }
      }
    }
  }
}

#diagnostics {
  .container { padding: 1.875rem 1rem 0;
    .diagnostics {
      &__title { margin-bottom: .625rem;
        h2 { text-align: center; }
      }
      &__text { margin-bottom: 1rem;
        p { text-align: center; }
      }

      &-list {
        &__item { position: relative; width: 312px; min-height: 548px; background: $LightGrey; @include z-index('diagnostics'); }
        &__image { display: flex;
          img { width: 100%; flex: none; }
        }
        &__group { padding: .875rem .875rem .625rem; }
        &__count { position: absolute; right: 14px; bottom: 0; color: $AccentGrey; font-size: 70px; z-index: -1; }
        &__title { margin-bottom: .625rem; }
        &__text {
          p { font-size: 12px;
            &:not(:first-child) { margin-top: .625rem; }
          }
          ul { margin-top: .375rem;
            li { position: relative; font-size: 12px; margin-left: 18px;
              &::before { @include pseudo; left: -18px; top: 4px; width: 12px; height: 12px; background: transparent url('/image/icon/star.svg') center no-repeat; }
              &:not(:first-child) { margin-top: .375rem; }
            }
          }
          ol { max-height: 182px; margin-top: .375rem; counter-reset: num; display: flex; flex-direction: column; flex-wrap: wrap;
            li { position: relative; width: calc(50% - 18px); margin-left: 18px; font-size: 12px;
              &::before { @include pseudo; content: counter(num)'.'; counter-increment: num; left: -18px; top: 0; color: $DarkGrey; }
            }
          }
        }
      }
      &-nav { margin-top: .625rem; display: flex; justify-content: flex-end; align-items: center;
        &__count { margin: 0 1rem .375rem 0; line-height: 1.2; }
        &__prev,
        &__next { width: 32px; height: 32px; border-radius: 50%; background: $NavGrey; display: flex; justify-content: center; align-items: center; cursor: pointer; transition: all .3s ease-out;
          &:active, &:focus { background: $linkColor;
            svg { fill: $White; }
          }

          svg { width: 15px; height: 9px; transition: fill .3s ease-out; }
        }
        &__prev { margin-right: .375rem; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 5.25rem 2rem 0;
      // .diagnostics {}
    }
    @media screen and (min-width: $laptopWidth) {
      .diagnostics {
        &-nav {
          &__prev,
          &__next {
            &:hover { background: $linkColor;
              svg { fill: $White; }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .diagnostics {
        &__title { margin-bottom: 3.75rem; }
        &__text { margin-bottom: 3rem;
          p { font-size: 30px; }
        }

        &-list {
          &__item { width: auto; min-height: 720px; }
          &__group { padding: 1.25rem 2.25rem 2rem 1.25rem; }
          &__count { right: 30px; bottom: -10px; font-size: 200px; }
          &__title { margin-bottom: .75rem; }
          &__text {
            p { font-size: 18px;
              &:not(:first-child) { margin-top: .75rem; }
            }
            ul { margin-top: .625rem;
              li { margin-left: 22px; font-size: 18px;
                &::before { left: -22px; top: 10px; }
                &:not(:first-child) { margin-top: .5rem; }
              }
            }
            ol { max-height: 212px; margin-top: .625rem;
              li { width: calc(50% - 22px); margin-left: 22px; font-size: 15px;
                &::before { left: -22px; }
              }
            }
          }
        }
        &-nav { margin-top: 1.25rem;
          &__count { margin: 0 1rem .125rem 0; font-size: 26px; }
          &__prev,
          &__next { width: 56px; height: 56px;
            svg { width: 27px; height: 18px; }
          }
          &__prev { margin-right: .625rem; }
        }
      }
    }
  }
}

#help {
  .container { padding: 1.875rem 1rem;
    .help {
      &__title { margin-bottom: 1.75rem;
        h2 { text-align: center; }
      }

      &-list { display: flex; flex-direction: column;
        &__item { width: 100%; display: flex; align-items: center;
          &:not(:first-child) { margin-top: 1.25rem; }
        }
        &__icon { display: flex; flex: none;
          img { width: 76px; height: 48px; flex: none; }
        }
        &__text { margin-left: 1.375rem;
          p { font-weight: 600;
            &:not(:first-child) { margin-top: .5rem; }

            a { color: $Turquoise; display: flex;
              svg { width: 12px; height: 14px; margin: .25rem .375rem 0 0; fill: $Turquoise; flex: none; }
            }
          }
        }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 4.25rem 2rem 3.25rem;
      .help {
        &-list { flex-direction: row; flex-wrap: wrap; justify-content: center;
          &__item { width: calc((100% - 7.5rem) / 3); flex-direction: column;
            &:not(:last-child) { margin-top: 0; }
            &:not(:nth-child(3n + 1)) { margin-left: 2.5rem; }
            &:nth-child(n + 4) { margin-top: 2rem; }
          }
          &__icon img { width: 111px; height: 70px; margin-right: 1.125rem; }
          &__text { margin: 1rem 0 0 0; display: flex; flex-direction: column; align-items: center;
            p { text-align: center;
              a { display: inline-block;
                svg { width: 15px; height: 16px; margin: 0 .375rem -.0625rem 0; }
              }
            }
          }
        }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .help {
        &__title { margin-bottom: 3.75rem; }

        &-list { margin: 0 11.5rem;
          &__item { width: calc((100% - 14.625rem) / 3);
            &:not(:nth-child(3n + 1)) { margin-left: 4.875rem; }
          }
          &__icon img { width: 142px; height: 90px; }
        }
      }
    }
  }
}

#reception {
  .container { padding: 0 1rem 1.875rem;
    .reception { border-top: 1px solid $LineGrey; padding-top: 1.625rem;
      &__title { margin-bottom: .625rem;
        h2 { text-align: center; }
      }
      &__text { margin-bottom: 1.25rem;
        p { text-align: center; }
      }

      &-utp {
        &__block { padding: .75rem; background: $LightGrey; }
        &__title { font-size: 30px; line-height: 1.1; }
        &__price { font-size: 70px; line-height: 1.1; }
        &__group { margin-top: .375rem; display: flex; justify-content: space-between; align-items: flex-end; }
        &__old-price { font-size: 36px; line-height: 1.4; text-decoration: line-through; }
        &__timer { width: 120px; height: 44px; border-radius: 22px; padding-bottom: .125rem; background: $mainColor; color: $White; font-size: 30px; line-height: 1.2; text-align: center; }
        &__text { border-top: 1px solid $LineGrey; margin-top: 1rem; padding-top: 1rem; }

        &-form { margin-top: .875rem; }
      }
    }

    @media screen and (min-width: $tabletWidth) { padding: 3.25rem 2rem 5.25rem;
      .reception { border: none; padding-top: 0; }
    }
    @media screen and (min-width: $desktopWidth) {
      .reception {
        &__title { margin-bottom: 1.375rem; }
        &__text { margin-bottom: 2.5rem;
          p { font-size: 30px; }
        }

        &-utp { margin: 0 3.5rem; display: flex; justify-content: space-between;
          &__block { width: 764px; padding: 1.75rem 2.375rem 1.5rem; display: flex; justify-content: space-between; }
          &__title { width: 300px; font-size: 46px; }
          &__price { margin-top: -.5rem; font-size: 93px; }
          &__group { margin-top: .625rem; }
          &__old-price { font-size: 38px; }

          &-form { width: 460px; margin: 0 0 0 2.5rem; }
        }
      }
    }
  }

  @media screen and (min-width: $tabletWidth) { border-top: 1px solid $LineGrey; }
}

#about { background: $LightGrey;
  .container { padding: 0 1rem 1.5rem;
    .about {
      &__video { margin: 0 -1rem; display: flex;
        video { width: 100%; min-height: 193px; background: $backgroundVideo; flex: none; }
      }
      &__main { margin-top: 1rem; }
      &__title { margin-bottom: .375rem; }
      &__text p:not(:last-child) { margin-bottom: .625rem; }
    }

    @media screen and (min-width: $tabletWidth) { padding: 5.25rem 2rem 3.25rem;
      .about {
        &__video { margin: -5.25rem -2rem 0; }
      }
    }
    @media screen and (min-width: $desktopWidth) {
      .about { display: flex; flex-direction: row-reverse; justify-content: space-between;
        &__video { position: relative; width: calc(100% - 488px); height: 480px; margin: -5.25rem 0 -3.25rem 0; flex: none;
          video { position: absolute; left: 0; top: 0; width: calc(100% + 16rem); height: 100%; min-height: auto; object-fit: cover; }
        }
        &__main { width: 440px; margin: 0 3rem 0 0; }
        &__title { margin-bottom: 1rem; }
        &__text p:not(:last-child) { margin-bottom: .875rem; }
      }
    }
  }
}

#map { height: 500px; margin-top: 1rem; background: $backgroundMap;
  @media screen and (min-width: $tabletWidth) { margin-top: 1.25rem; }
}
