
/* Thanks page */
#thanks {
  .container { min-height: 100vh;
    .thanks { display: flex; flex-direction: column; justify-content: center;
      &__title { margin-bottom: .875rem;
        h2 { text-align: center; }
      }
      &__text p { font-size: 18px; text-align: center; }
      &__button { margin-top: 2.5rem; }
    }

    @media screen and (min-width: $tabletWidth) {
      .thanks { align-items: center; }
    }
    @media screen and (min-width: $desktopWidth) {
      .thanks {
        &__title h2 { font-size: 46px; }
        &__text p { font-size: 26px; }
      }
    }
  }
}
